.form-control {
    border: 1px solid #333;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
}
.form {
    box-shadow: var(--box-shadow);
    border: 1px solid #333;
    border-radius: var(--border-radius);
}
.form-group {
    margin: 10px 0 10px 0;
}
