@tailwind base;
@tailwind components;
@tailwind utilities;
.Dropdown-control {
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 0.75rem;
    padding: 0.5rem;
}
.Dropdown-arrow {
    top: 50%;
    transform: translateY(-50%);
}
.Dropdown-option:hover {
    background-color: #5772ed;
}
.Dropdown-menu {
    top: 120%;
    border-radius: 20px;
}
.css-13cymwt-control {
    border-radius: 20px !important;
}
.select__control,
.css-13cymwt-control {
    border: 1px solid black !important;
    width: 92% !important;
    margin-left: 0.75rem;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
